*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/002_kitchen[[:space:]]shovel_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/003_bread_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/004_plastic[[:space:]]bottle_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/005_7up[[:space:]]can_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/007_ketchup[[:space:]]bottle_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/008_watering[[:space:]]can_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/009_pipe_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/010_toy[[:space:]]bear_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/012_plant_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/014_hamburger_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/015_golf[[:space:]]ball_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/016_BBQ[[:space:]]sauce_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/017_travel[[:space:]]cup_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/019_nonstop[[:space:]]can_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/021_baguette_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/022_champagne[[:space:]]glass_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/023_kitchen[[:space:]]spoon_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/024_onion_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_carrot/025_cup_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/002_cloth_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/003_carpet_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/004_newspaper_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/005_sheet[[:space:]]metal_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/006_drawing[[:space:]]tablet_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/007_tomato[[:space:]]slice_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/008_pizza_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/009_flat[[:space:]]bowl_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/010_gramophone[[:space:]]disk_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/011_frying[[:space:]]pan_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/012_mouse[[:space:]]pad_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/013_cutting[[:space:]]board_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/015_manhole[[:space:]]cover_1/textured.glb filter=lfs diff=lfs merge=lfs -text
carrot/more_plate/016_envelope_1/textured.glb filter=lfs diff=lfs merge=lfs -text
